@media(max-width: 450px){

    .logo_container img {
      width: 80px;
      height: auto;
  }
  .menu-options li {
    padding: 1px;
    border-bottom: 1px solid #ddd;
}

.bgc-img{
  background-image: url(Images/19.jpg);
  background-size: cover;
  background-position: right;
  color: rgb(0, 0, 0);
  position: relative;
  /* width:400px ; */
  height: 90px;
}


.oil_home3 img {
  position:absolute;
  width: 80px;
  right: 10px;
top: 47px;
}
.Oil_Home2 img {
  display: none;
  width: 90px;
  /* height: 100px; */
}
.lg-img img {
  display: inline;
  width: 67px;
  position: relative;
  top: -14px;
  left: -15px;
  height: auto;
}
.search-follow {
  /* padding: 0px; */
  margin: 10px;
  width: 200px;
position: relative;
right:30px;
}
.header-one {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
  margin-bottom: 10px;
}
.hidden-list {
  display: none;
}
.shown-list li:nth-child(n+7) {
  display: none; /* Hide options after 6 in mobile view */
}
.menu-toggle {
  width: 1px;
  position: relative;
  bottom: 54px;
  display: block;
  color: rgb(0, 0, 0);
  /* padding: 14px; */
  cursor: pointer;
}
.list-section.active .hidden-list {
  display: block;
}
.shown-list a {
  width:0px;
  display: block;
  /* padding: 14px 20px; */
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  font-size: small;
}
.list-section{
  background-color: rgb(237, 235, 247);
  position:sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
  height: 60px;
}
.shown-list{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.shown-list li {
display: inline;
width: 50px;
height: 50px;
}

.hidden-list li a{
  text-decoration: none;
  list-style-type: none;
  color: rgb(0, 0, 0);
  font-size: small;
  font-weight: 500;
  background-color: rgb(237, 235, 247);
  width: 140px;
  display: flex;
  position: relative;
  bottom:82px;
  right: 10px;
  border-radius: 2px;
}
.button1 {
  position: relative;
  top: 10px;
  left: 100px;
  height: 20px;
  width: 75px;
  font-size: xx-small;
  text-size-adjust:unset;
}
.footer_container{
  flex-direction: column;
}
.footer-column ul {
  display: none; 
}
}

